<header>
  <nav>
    <div id="imgNav">
      <figure>
        <a routerLink="/">
          <img src="./assets/images/logo/logo.png" alt="Logo">
        </a>
      </figure>
    </div>

    <div id="linkNav">
      <ul>
        <li>
          <a href="">
            <div class="emoji">🏢</div>
            <div class="desc">Marques</div>
          </a>
        </li>

        <li>
          <a routerLink="/moto">
            <div class="emoji">🏍</div>
            <div class="desc">Motos</div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="emoji">🅰️</div>
            <div class="desc">Catégories</div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="emoji">🔑</div>
            <div class="desc">Connexion</div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="emoji">📝</div>
            <div class="desc">Inscription</div>
          </a>
        </li>

        <li>
          <a href="">
            <div class="emoji">🔎</div>
            <div class="desc">Rechercher</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
