<header>
  <nav>
    <div id="leftSideNav">
      <ul>
        <li>
          <a href="">
            Marque
          </a>
        </li>

        <li>
          <a routerLink="/moto">
            Moto
          </a>
        </li>

        <li>
          <a href="">
            Catégorie
          </a>
        </li>
      </ul>
    </div>

    <div id="logoNav">
      <a href="/">
        <figure>
          <img src="./assets/images/logo/logo.png" alt="Logo">
        </figure>
      </a>
    </div>

    <div id="rightSideNav">
      <ul>
        <li>
          <a href="">
            Connexion
          </a>
        </li>

        <li>
          <a href="">
            Inscription
          </a>
        </li>

        <li>
          <a href="">
            Rechercher
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
