<footer>
  <div id="leftSideFooter">
    <span>@Chamalo 2021</span>
  </div>

  <div id="centerSideFooter">
    <ul>
      <li><a href="">Contact</a></li>
      <li><a href="">Condition d'utilisation</a></li>
      <li><a href="">Politique de confidentialité</a></li>
      <li><a href="">Gestion des cookies</a></li>
    </ul>
  </div>

  <div id="rightSideFooter">
    <a href="http://twitter.com" target="_blank" class="socials"><fa-icon [icon]="faTwitter"></fa-icon></a>
    <a href="http://facebook.com" target="_blank" class="socials"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="http://instagram.com" target="_blank" class="socials"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="http://youtube.com" target="_blank" class="socials"><fa-icon [icon]="faYoutube"></fa-icon></a>
  </div>
</footer>
