<div id="categorySelect">
  <label for="categoryForm">Catégorie :</label>
  <select name="categoryForm" id="categoryForm" [(ngModel)]="selectedCate" (change)="changeCate()">
    <option *ngFor="let categorie of allCategorie" value="{{categorie.slugCategorie}}">{{categorie.nomCategorie}}</option>
  </select>
</div>

<div id="displayInfo">
  <ng-container *ngIf="categorie !== undefined else noMoto">
    {{categorie.motos.length}}
  </ng-container>

  <ng-template #noMoto>
    Pas de moto pour cette catégorie
  </ng-template>
</div>
