<div id="categorySelect">
  <label for="categoryForm">Catégorie :</label>
  <select name="categoryForm" id="categoryForm" [(ngModel)]="selectedCate" (change)="changeCate()">
    <option *ngFor="let categorie of allCategorie" value="{{categorie.slugCategorie}}">{{categorie.nomCategorie}}</option>
  </select>
</div>

<div id="displayInfo">
  <ng-container *ngIf="categorie !== undefined && categorie.motos.length > 0 else noMoto">
    <table>
      <thead>
      <tr>
        <th>
          Moto
        </th>

        <th>
          Marque
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let moto of categorie.motos">
        <tr>
          <td>
            <a routerLink="/motos/{{moto.slugMoto}}">
              {{moto.nomMoto}}
            </a>
          </td>

          <td>
            <a routerLink="/marques/{{moto.marque.slugMarque}}">
              {{moto.marque.nomMarque}}
            </a>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noMoto>
    Pas de moto pour cette catégorie
  </ng-template>
</div>
