<div id="addMotoLink">
  <a routerLink="/moto/add">
    <button>Ajoutez une moto</button>
  </a>
</div>

<div id="listMoto" *ngIf="motoList?.length > 0 else noMoto">
  <div id="oneMoto" *ngFor="let moto of motoList">
    <figure>
      <img *ngIf="moto.backgroundImgMoto !== null" src="{{moto.backgroundImgMoto}}" alt="{{moto.nomMoto}}">
    </figure>

    <p>{{moto.nomMoto}}</p>

    <a routerLink="/motos/{{moto.slugMoto}}">
      <button>Voir la moto</button>
    </a>
  </div>
</div>

<ng-template #noMoto>
  Pas de moto
</ng-template>
