<div id="containerMoto">
  <!--  moto? to avoid ngIf, make bugs with dynamic container -->
  <div id="entete">
    <span id="titre">{{moto?.nomMoto}}</span>

    <span id="liensMC">
      <a id="marque" routerLink="/marques/{{moto?.marque.slugMarque}}">{{moto?.marque.nomMarque}}</a>
      /
      <a id="categorie" href="/categorie/{{moto?.categorie.slugCategorie}}">{{moto?.categorie.nomCategorie}}</a>
    </span>

    <div id="imgBackground">
      <figure>
        <img [src]="backgroundIMG" alt="{{moto?.nomMoto}} background">
      </figure>
    </div>
  </div>

  <div id="navTabMoto">
    <a class="tab" (click)="tabSelector = 'description'; changeContent();" [ngClass]="{activeTab : tabSelector === 'description'}">
      <fa-icon [icon]="faDesc"></fa-icon>
      Description
    </a>

    <a class="tab" (click)="tabSelector = 'infos'; changeContent();" [ngClass]="{activeTab : tabSelector === 'infos'}">
      <fa-icon [icon]="faInfo"></fa-icon>
      Infos
    </a>

    <a class="tab" (click)="tabSelector = 'images'; changeContent();" [ngClass]="{activeTab : tabSelector === 'images'}">
      <fa-icon [icon]="faImage"></fa-icon>
      Images
    </a>

    <a class="tab" (click)="tabSelector = 'videos'; changeContent();" [ngClass]="{activeTab : tabSelector === 'videos'}">
      <fa-icon [icon]="faVideo"></fa-icon>
      Videos
    </a>

    <a class="tab" (click)="tabSelector = 'forum'; changeContent();" [ngClass]="{activeTab : tabSelector === 'forum'}">
      <fa-icon [icon]="faComment"></fa-icon>
      Forum
    </a>
  </div>

  <div id="contentTabMoto">
    <ng-template #contentTabMoto></ng-template>
  </div>
</div>
