<div id="ajoutVideo">
  <details>
    <summary>{{texteVideo}}</summary>

    <iframe id="previewVideo" [src]="urlSafe"></iframe>

    <input [(ngModel)]="url" type="text" id="inputUrlVideo" name="inputUrlVideo" (input)="onLinkChange($event)" placeholder="URL Video /!\ Youtube = lien embed">

    <textarea [(ngModel)]="descriptionVideo" name="descriptionVideo" id="descriptionVideo" cols="30" rows="5" maxlength="200" placeholder="Description de la vidéo"></textarea>

    <span *ngIf="uploadProgress > 0" id="progressBar">
      <progress [value]="uploadProgress"></progress>
      {{uploadProgress}} %
    </span>

    <div id="btnVideo">
      <button id="btnUpload" type="button" (click)="onUpload()" [disabled]="!url.length">Upload</button>
    </div>
  </details>
</div>

<div id="videosMoto" *ngIf="moto.nbVideos> 0 else noVideos">
  <div id="oneVideoMoto" *ngFor="let video of videoTab">
    <figure>
      <iframe [src]="sanitizeURL(video.lienVideo)" title="{{video.description}}" allowfullscreen></iframe>
      <figcaption>{{video.description}}</figcaption>
    </figure>
  </div>
</div>

<ng-template #noVideos>
  Pas de vidéo pour cette moto
</ng-template>
