<div id="ajoutVideo">
  <details>
    <summary>{{texteVideo}}</summary>

    <iframe *ngIf="url.length > 30" id="previewVideo" [src]="urlSafe" [style.display]="url.length > 30 ? 'block' : 'none'"></iframe>

    <input [(ngModel)]="url" type="text" id="inputUrlVideo" name="inputUrlVideo" (input)="onLinkChange($event)" placeholder="URL Video /!\ Youtube = lien embed">

    <textarea [(ngModel)]="descriptionVideo" name="descriptionVideo" id="descriptionVideo" cols="30" rows="5" maxlength="200" placeholder="Description de la vidéo"></textarea>

    <span *ngIf="uploadProgress > 0" id="progressBar">
      <progress [value]="uploadProgress"></progress>
      {{uploadProgress}} %
    </span>

    <div id="btnVideo">
      <button id="btnUpload" type="button" (click)="onUpload()" [disabled]="!url.length">Upload</button>
    </div>
  </details>
</div>

<div id="videosMoto" *ngIf="videoTab?.length > 0 else noVideos">
  <div id="oneVideoMoto" *ngFor="let video of videoTab">
    <figure>
      <iframe [src]="sanitizeURL(video.lienMedia)" title="{{video.descriptionMedia}}" allowfullscreen></iframe>
      <figcaption>{{video.descriptionMedia}}</figcaption>
    </figure>
  </div>
</div>

<ng-template #noVideos>
  Pas de vidéo pour cette moto
</ng-template>
