<div id="btnAddUpdateDesc">
  <button type="button" (click)="setEditorDesc()">
    <ng-container *ngIf="moto.descriptionMoto !== undefined else addInfos">Mettre à jour la description</ng-container>
    <ng-template #addInfos>Ajouter une description</ng-template>
  </button>
</div>

<ng-container *ngIf="moto?.descriptionMoto || onEdit else noDescription">
  <ng-container *ngIf="onEdit else description">
    <quill-editor [formControl]="control"></quill-editor>

    <button type="button" (click)="saveDesc()" [disabled]="!control.valid">Sauvegarder</button>
  </ng-container>

  <ng-template #description>
    <quill-view [content]="moto.descriptionMoto" format="html" theme="snow"></quill-view>
  </ng-template>
</ng-container>

<ng-template #noDescription>
  Pas de description pour cette moto
</ng-template>
